{{ $tags := split (.Get "tags") "," }}
{{ $categories := split (.Get "categories") "," }}
{{ $caput := .Get "caput" | markdownify }}

{{/* Pré-processamento para verificar se há páginas correspondentes */}}
{{ $hasMatches := false }}
{{ range sort $.Site.RegularPages "Title" }}
  {{ $pageTags := .Params.tags }}
  {{ $pageCategories := .Params.categories }}
  {{/* Checa se a página tem tags e categories definidos e compara */}}
  {{ $tagsMatch := true }}
  {{ $categoriesMatch := true }}
  {{ if isset .Params "tags" }}
    {{ range $tags }}
      {{ $currentTag := trim . " " }}
      {{ if not (in $pageTags $currentTag) }}
        {{ $tagsMatch = false }}
        {{ break }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ if isset .Params "categories" }}
    {{ range $categories }}
      {{ $currentCategory := trim . " " }}
      {{ if not (in $pageCategories $currentCategory) }}
        {{ $categoriesMatch = false }}
        {{ break }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ if and $tagsMatch $categoriesMatch }}
    {{ $hasMatches = true }}
    {{ break }}
  {{ end }}
{{ end }}

{{/* Se houver páginas correspondentes, exibe o caput, a lista e, para cada página, title, summary e description na ordem */}}
{{ if $hasMatches }}
  {{ if $caput }}
    <div class="caput">{{ $caput }}</div>
  {{ end }}
  <ul>
    {{ range sort $.Site.RegularPages "Title" }}
      {{ $pageTags := .Params.tags }}
      {{ $pageCategories := .Params.categories }}
      {{ $tagsMatch := true }}
      {{ $categoriesMatch := true }}
      {{ if isset .Params "tags" }}
        {{ range $tags }}
          {{ $currentTag := trim . " " }}
          {{ if not (in $pageTags $currentTag) }}
            {{ $tagsMatch = false }}
            {{ break }}
          {{ end }}
        {{ end }}
      {{ end }}
      {{ if isset .Params "categories" }}
        {{ range $categories }}
          {{ $currentCategory := trim . " " }}
          {{ if not (in $pageCategories $currentCategory) }}
            {{ $categoriesMatch = false }}
            {{ break }}
          {{ end }}
        {{ end }}
      {{ end }}
      {{ if and $tagsMatch $categoriesMatch }}
        <li>
          <!-- Exibindo título -->
          <span><strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong></span>
          <!-- Exibindo resumo, se disponível -->
          {{ if .Summary }}
            <span> - {{ .Summary }}</span>
          {{ end }}
          <!-- Exibindo descrição, se disponível -->
          {{ if isset .Params "description" }}
            <span> {{ .Params.description }}</span>
          {{ end }}
        </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
