{{ $tags := split (.Get "tags") "," }}
{{ $caput := .Get "caput" | markdownify }}

{{/* Pré-processamento para verificar se há páginas correspondentes */}}
{{ $hasMatches := false }}
{{ range sort $.Site.RegularPages "Title" }}
  {{ $pageTags := .Params.tags }}
  {{ if and (eq $.Site.Language.Lang .Lang) (isset .Params "tags") }}
    {{ $allMatch := true }}
    {{ range $tags }}
      {{ $currentTag := trim . " " }}
      {{ if not (in $pageTags $currentTag) }}
        {{ $allMatch = false }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if $allMatch }}
      {{ $hasMatches = true }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* Se houver páginas correspondentes, exibe o caput, a lista e, para cada página, title, summary e description na ordem */}}
{{ if $hasMatches }}
  {{ if $caput }}
    <div class="caput">{{ $caput }}</div>
  {{ end }}
  <ul>
    {{ range sort $.Site.RegularPages "Title" }}
    {{ $pageTags := .Params.tags }}
    {{ if and (eq $.Site.Language.Lang .Lang) (isset .Params "tags") }}
      {{ $allMatch := true }}
      {{ range $tags }}
        {{ $currentTag := trim . " " }}
        {{ if not (in $pageTags $currentTag) }}
          {{ $allMatch = false }}
          {{ break }}
        {{ end }}
      {{ end }}
      {{ if $allMatch }}
        <li>
          <!-- Exibindo título -->
          <span><strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong></span>
          <!-- Exibindo resumo, se disponível -->
          {{ if .Summary }}
            <span> - {{ .Summary }}</span>
          {{ end }}
          <!-- Exibindo descrição, se disponível -->
          {{ if .Params.description }}
            <span> {{ .Params.description }}</span>
          {{ end }}
        </li>
      {{ end }}
    {{ end }}
  {{ end }}
  </ul>
{{ end }}
