<!-- layouts/shortcodes/publications.html -->
{{ $year := .Get "year" }}
{{ $keywordsInput := .Get "keywords" }}
{{ $notagsInput := .Get "notags" }}
{{ $keywords := split $keywordsInput "," }}
{{ $notags := split $notagsInput "," }}

<ol class="publications-lncs">
  {{ range $.Site.Data.publications.items }}
    {{ $includePublication := true }}

    <!-- Verifica e filtra por ano, se especificado -->
    {{ if and $year (not (eq (printf "%d" .year) $year)) }}
      {{ $includePublication = false }}
    {{ end }}

    <!-- Continua para filtrar por keywords e notags independentemente do ano -->
    <!-- Filtra por keywords, se especificado e não vazio -->
    {{ if and $includePublication (or (eq $keywordsInput "") (gt (len $keywords) 0)) }}
      {{ $keywordMatch := false }}
      {{ if gt (len $keywordsInput) 0 }}
        {{ range .keywords }}
          {{ if in $keywords . }}
            {{ $keywordMatch = true }}
            {{ break }}
          {{ end }}
        {{ end }}
      {{ else }}
        {{ $keywordMatch = true }}
      {{ end }}
      {{ if not $keywordMatch }}
        {{ $includePublication = false }}
      {{ end }}
    {{ end }}

    <!-- Exclui por 'não keywords', se especificado e não vazio -->
    {{ if and $includePublication (or (eq $notagsInput "") (gt (len $notags) 0)) }}
      {{ if gt (len $notagsInput) 0 }}
        {{ range .keywords }}
          {{ if in $notags . }}
            {{ $includePublication = false }}
            {{ break }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}

    <!-- Renderiza a publicação, se incluída -->
    {{ if $includePublication }}
      <li>
        {{- range $index, $element := .authors -}}
          {{- if $index }}, {{- end -}}
          {{- $element -}}
        {{- end -}},
        "{{ .title }}"
        {{- if eq .type "conference" -}}, in {{ .event }}{{- end -}}
        {{- if eq .type "article" -}}, {{ .journal }}{{- end -}}
        {{- if eq .type "book" -}}, {{ .publisher }}{{- end -}}
        {{- if .year -}}, {{ .year }}.{{- end -}}
        {{- if .url -}} <a href="{{ .url }}" target="_blank">Available at: {{ .url }}</a>{{- end -}}
      </li>
    {{ end }}
  {{ end }}
</ol>
